<h3>Select an item to update</h3>
<div>
    <div *ngFor="let item of items">
        <ul>
            <li>ItemID: {{item.itemId}}</li>
            <li>Name: {{item.name}}</li>
            <li>Quantity available: {{item.quantity_available}}</li>
            <li>Quantity sold: {{item.quantity_sold}}</li>
        </ul>
    </div>
    <form>
        Enter itemID <input type="number" [(ngModel)]="item_id" [ngModelOptions]="{standalone: true}"><br>
        Enter updated quantity <input type="number" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}"><br>
        <button (click)="updateItem()">Update quantity</button>
    </form>
    <div *ngIf="valueUpdated && clicked">
        <h3>Value updated successfully!</h3>
    </div>
    <div *ngIf="!valueUpdated && clicked">
        <h3>Invalid inputs!</h3>
    </div>
</div>