<h1> New user registration </h1>
<div>
    <form>
        Enter name <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/> <br>
        Enter preferred username <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"/> <br>
        Enter password <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/><br>
        <button (click)="registerUser()">Register</button>
    </form>
    <div *ngIf="!userRegistered && registerClicked">
        <h3>Username already exists</h3>
    </div>
    <div *ngIf="userRegistered && registerClicked">
        <h3> Successfully registered! </h3>
    </div>
</div>